<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Create a Song Here!</title>
</head>
<body>
  <h1>Type Your Song</h1>
  <form action="/songs" method="POST">
    <label>Name:</label>
    <input name="name" type="text" />
    <label>Is a Song?</label>
    <input name="isASong" type="checkbox" />
    <button type="submit">Add Composer</button>
  </form>
  <a href="/songs/">Back to Composers</a>
</body>
</html>
