<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a song here!</title>
  </head>
  <body>
    <h1>Type your song</h1>
  <form action="/songs" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="songs">music?</label>
      <input type="checkbox" name="songs" id="composer" />
  
      <button type="submit">Add Song</button>
    </form>
  </body>
</html>