body {
    background: pink
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  h1 {
    color: #964242;
    font-size: 3.6em;
  }
 
  .musicnotes {
    height: 30%;
  }
 
  .index-link-text {
    background-color: blue;
    color: white;
    font-size: 1.4em;
    width: 10em;
    padding: 5px 15px;
    margin: 15px;
    text-align: center;
  }
 
  .index-link-text:hover {
    background-color: purple;
  }
 
  .index-link-text:active {
    background-color: purple;
  }

  form {
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffbd59;
    padding: 20px 30px;
    margin: 20px 10px;
  }
 
  .checkbox-div {
    flex-direction: row;
  }
 
  label,
  input {
    margin: 10px 2px 0 2px;
  }
 
  button {
    align-self: center;
    margin: 10px 4px 4px 4px;
    background-color: #3f6a51;
    color: white;
    padding: 5px 10px;

  }
 
  button:active {
    background-color: #2d4d3a;
  }
 
